@{
    ViewData["Title"] = "Home Page";
<link href="~/css/stylesheet1.css" rel="stylesheet" />
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8" />
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/StyleSheet1.css" />
   
</head>
<body>
    <section  style="background-image: url('greybg.jpg'); background-size: cover;">
        <div class="mask d-flex align-items-center  gradient-custom-3">
            <div class="container-fluid">
                <div class="row d-flex justify-content-center" style="margin-top: 60px; height: 100vh;">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 15px; background-size: cover; position: relative;width: 80%; ">
                            <div class="card-header text-center" style="height: 100px;  background-color:#0d6efd;background-size: cover; background-position: center; border-start-start-radius: 15px; border-top-right-radius: 15px; position: relative;">
                                <h2 class="fontstyle" style="color:white">WhiteBlue Walk-in Interviews</h2>
                                <!-- Logo spanning the header and body -->
                                <div class="circle-logo"></div>
                            </div>

                            <div class="card-body p-5">
                                <br/>
                                <!-- Your form elements go here -->

                                <div class="d-flex justify-content-center" style="background-color:black;">
                                    
                                </div>

                                <p class="text-center text-muted mt-5 mb-0">
                                    Have already an account? <a href="#" class="fw-bold text-body"><u>Login here</u></a>
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>


